@mixin light-theme {
  // #region ionic colors
  --ion-color-primary: #005ce6;
  --ion-color-primary-rgb: 0, 92, 230;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0051ca;
  --ion-color-primary-tint: #1a6ce9;

  --ion-color-secondary: #e1150b;
  --ion-color-secondary-rgb: 225, 21, 11;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c6120a;
  --ion-color-secondary-tint: #e42c23;

  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 255, 255, 255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0e0e0;
  --ion-color-tertiary-tint: #ffffff;

  --ion-color-dark: #26292c;
  --ion-color-dark-rgb: 38, 41, 44;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #212427;
  --ion-color-dark-tint: #3c3e41;

  --ion-color-medium: #394951;
  --ion-color-medium-rgb: 57, 73, 81;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #324047;
  --ion-color-medium-tint: #4d5b62;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  // #endregion

  // #region custom colors
  --menu-right-border-color: #e2e8ed;
  --menu-background-item-active: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.1);
  --menu-background-top: #ffffff;
  --menu-background-bottom: #ffffff;

  --main-background-top: #eff2f5;
  --main-background-bottom: #eff2f5;

  --table-header-background: rgb(248, 249, 251);
  --table-row-background: rgb(255, 255, 255);
  --table-row-selected-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.07);
  --table-row-hover-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.05);
  --table-cell-sticky-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.05);

  --feature-background-top: #ffffff;
  --feature-background-bottom: #ffffff;

  --ion-background-color: var(--main-background-bottom);
  --ion-background-color-rgb: 239, 242, 245;

  --ion-toolbar-background: #fff;

  --ion-item-background: transparent;
  --ion-item-background-activated: transparent;

  --ion-card-background: var(--main-background-top);
  // #endregion

  color-scheme: light;
}

@mixin dark-theme {
  // #region ionic colors
  --ion-color-primary: #74caff;
  --ion-color-primary-rgb: 116, 202, 255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #66b2e0;
  --ion-color-primary-tint: #82cfff;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255, 255, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  --ion-color-tertiary: #535456;
  --ion-color-tertiary-rgb: 83, 84, 86;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #494a4c;
  --ion-color-tertiary-tint: #646567;

  --ion-color-dark: #fdfdfd;
  --ion-color-dark-rgb: 253, 253, 253;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #dfdfdf;
  --ion-color-dark-tint: #fdfdfd;

  --ion-color-medium: #929396;
  --ion-color-medium-rgb: 146, 147, 150;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808184;
  --ion-color-medium-tint: #9d9ea1;

  --ion-color-light: #535456;
  --ion-color-light-rgb: 83, 84, 86;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #494a4c;
  --ion-color-light-tint: #646567;
  // #endregion

  // #region custom colors
  --menu-right-border-color: #3c414a;
  --menu-background-item-active: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.1);
  --menu-background-top: #30353c;
  --menu-background-bottom: #30353c;

  --main-background-top: #2a2e34;
  --main-background-bottom: #2a2e34;

  --table-header-background: rgb(60, 65, 74);
  --table-row-background: rgb(48, 53, 60);
  --table-row-selected-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.07);
  --table-row-hover-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.05);
  --table-cell-sticky-background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.05);

  --feature-background-top: #2a2e34;
  --feature-background-bottom: #2a2e34;

  --ion-background-color: var(--main-background-bottom);
  --ion-background-color-rgb: 35, 40, 81;

  --ion-toolbar-background: var(--main-background-top);

  --ion-item-background: transparent;
  --ion-item-background-activated: transparent;

  --ion-card-background: var(--main-background-top);

  --ion-text-color: #eeeeee;
  --ion-text-color-rgb: 238, 238, 238;

  --ion-color-step-50: #34383d;
  --ion-color-step-100: #3e4147;
  --ion-color-step-150: #474b50;
  --ion-color-step-200: #515459;
  --ion-color-step-250: #5b5e63;
  --ion-color-step-300: #65686c;
  --ion-color-step-350: #6f7175;
  --ion-color-step-400: #787b7e;
  --ion-color-step-450: #828488;
  --ion-color-step-500: #8c8e91;
  --ion-color-step-550: #96989a;
  --ion-color-step-600: #a0a1a4;
  --ion-color-step-650: #a9abad;
  --ion-color-step-700: #b3b4b6;
  --ion-color-step-750: #bdbec0;
  --ion-color-step-800: #c7c8c9;
  --ion-color-step-850: #d1d1d2;
  --ion-color-step-900: #dadbdb;
  --ion-color-step-950: #e4e4e5;

  ion-item {
    --border-color: var(--menu-right-border-color);
  }
  // #endregion

  color-scheme: dark;
}

.default-theme {
  $wide-logo-url: '/assets/logos/logo-codeart.png';
  $small-logo-url: 'https://cdn.appcenter.vn/images/logo.png';

  .login {
    .logo-contain {
      padding-top: 10vh;
      padding-bottom: 0vh;
      background-color: transparent;
    }

    .logo {
      margin: auto;
      width: 90vw;
      height: 20vh;
      max-width: 380px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      background-image: url($wide-logo-url);
    }

    form {
      margin-top: 0px !important;
    }
  }

  #app-menu {
    .app-logo-wrapper {
      .app-logo {
        height: 90px !important;
        margin-bottom: 8px !important;
        background-image: url($wide-logo-url) !important;
      }
    }

    &.compact-menu {
      .app-logo-wrapper {
        .app-logo {
          height: 70px !important;
          width: 60px !important;
          margin-bottom: auto !important;
          background-image: url($small-logo-url) !important;
        }
      }
    }
  }

  &.light {
    @include light-theme;
  }

  &.dark {
    @include dark-theme;
  }

  &:not(.light):not(.dark) {
    @media (prefers-color-scheme: light) {
      @include light-theme;
    }
  
    @media (prefers-color-scheme: dark) {
      @include dark-theme;
    }
  }

}
