ion-menu {
 --width: 270px;
 --side-max-width: 270px;
}

ion-menu ion-content {
 --background: var(--ion-item-background, var(--ion-background-color, #fff));
}
ion-menu.md ion-content {
 --padding-start: 0px;
 --padding-end: 0px;
 --padding-top: 0px;
 --padding-bottom: 0px;
}

ion-menu.md ion-list,
ion-menu.ios ion-list {
 padding: 0;
}

ion-menu.md ion-list-header,
ion-menu.ios ion-list-header {
 padding: 30px 0;
 flex-direction: column;
 .app-logo {
  display: block;
  width: 240px;
  height: 90px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  margin-bottom: 8px;
  background-image: url('../assets/logos/logo-codeart.png');
 }
 .home-select-wrapper {
  --border-style: none;
  --inner-padding-end: 4px;
  --inner-padding-start: 4px;
  --min-height: 36px;
  margin: 0px 4px 4px 4px;
  border: 1px solid #3880ff;
  font-size: 13px;
  width: 250px;
  ion-select {
   min-height: 36px;
   .item-inner {
    --inner-padding-end: 4px;
   }
  }
 }
}

ion-menu.md ion-list#menu-list {
 .menu-list {
  border-top: 1px solid var(--ion-background-color-step-150, #d7d8da);
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
 }
}

ion-menu.md ion-list#menu-list ion-list-header {
 font-size: 22px;
 font-weight: 600;

 min-height: 20px;
}

ion-menu.md ion-item {
 --padding-start: 10px;
 --padding-end: 10px;
 border-radius: 4px;
}

ion-menu.md ion-item.selected {
 --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
 color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
 color: #616e7e;
}

ion-menu.md ion-item ion-label {
 font-weight: 500;
}

ion-menu.ios ion-content {
 --padding-bottom: 20px;
}

// ion-menu.ios ion-list {
//   padding: 20px 0 0 0;
// }

ion-menu.ios ion-item {
 --padding-start: 16px;
 --padding-end: 16px;
 --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
 color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
 font-size: 24px;
 color: #73849a;
}

// ion-menu.ios ion-list-header{
//   padding-left: 16px;
//   padding-right: 16px;
// }

ion-item.selected {
 --color: var(--ion-color-primary);
}
