<ion-app>
 <ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
   <ion-content>
    <ion-list id="menu-list">
     <ion-list-header>
      <div class="app-logo"></div>
      <ion-item class="home-select-wrapper">
       <ion-select labelPlacement="stacked" interface="popover" value="1" [interfaceOptions]="{ cssClass: 'home-select-wrapper-popover' }">
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
       </ion-select>
      </ion-item>
     </ion-list-header>
     <div class="menu-list">
      @for (page of appPages; track $index) {
      <ion-menu-toggle auto-hide="false">
       <ion-item routerDiretion="root" [routerLink]="[page.url]" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon aria-hidden="true" slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'" />
        <ion-label>{{ page.title }}</ion-label>
       </ion-item>
      </ion-menu-toggle>
      }
     </div>
    </ion-list>
   </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
 </ion-split-pane>
</ion-app>
